header{
    background-color: #f3573f;
    position: sticky;
    top: 0;
    z-index: 10;
}
.secao-sobre-o-restaurante{
    background-color: #FFF0ED;
}
.nome-restaurante {
    font-family: 'Lobster Two', cursive;
    font-size: 1.5rem;
    color: #333;
}
.sobre-restaurante img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
} 
h4{
    font-family: 'Lobster Two', cursive;
    font-size: 1.5rem;
    color: #333;
}
span{
    color: #f3573fdc;
}
.card{
    border-radius: 10px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #f3573fdc;
    color: white;
}
.bebidas img{
    width: 100%;
}
.bebidas h4{
    color: #f3573fdc;
    margin-top: 10px;
}
#menuPrincipal .nav-link.active{
    background-color: #fff;
    color: black;
}
#menuPrincipal .nav-link:hover{
    background-color: #fff;
    color: #f3573fdc;
}
#menuPrincipal .nav-link{
    color: white;
}
#contato .enviar{
    background-color: #f3573f;
    color: white;
}